    <% @comedians.each do |comedian|  %>
    <div class="comedian">
      <h2><%= comedian.name %></h2>
      <li><%= comedian.age %></li>
      <li><%= comedian.city %></li>
    </div>
    <% end %>
